:root {
  --primero: #666ca3;
  --segundo: #13183f;
  --tercero: #83869a;
  --cuarto: #f74780;
  --quinto: #ffa7c3;
  --blanco: #ffffff;
  --linear-naranja: hsl(322째, 87%, 55% 13째, 100%, 64%);
  --linear-violeta: hsl(237째, 100%, 64% 322째, 87%, 55%);

  /* ========== FONT FAMILY ==========*/
  --font-Jakarta: 'Plus Jakarta Sans', sans-serif;
}
html {
  font-size: 62.5%; /*10px*/
}
body {
  font-family: var(--font-Jakarta);
  background-color: var(--blanco);
}
.main {
  width: 100%;
}
.header {
  width: 100%;
}
.header__img {
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92.7vw; /* -- 343px MOBILE -- */
  margin: 1.6rem;
}
.header__paragraph {
  color: var(--tercero);
  width: 92.7vw; /* -- 343px MOBILE -- */
  margin: 1rem;
  padding: 0.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 126%;
  text-align: left;
}
.header__title {
  font-size: 4rem;
  font-weight: 800;
  line-height: 5.4rem;
  color: var(--segundo);
  width: 92.7vw; /* -- 343px MOBILE -- */
  margin: 1rem;
  padding: 0.6rem;
  vertical-align: top;
  /* letter-spacing: rem; */
}
.nav__button {
  color: var(--blanco);
  background: var(--segundo);
  float: right;
  width: 167px;
  height: 48px;
  border-radius: 28px;
}
.nav__button--text {
  font-size: 1.6rem;
  font-weight: 700;
}
.nav__h1 {
  color: var(--segundo);
  font-size: 2.6rem;
  font-weight: 800;
  float: left;
}

.nav__button--gradient {
  background-color: var(--linear-naranja);
  width: 167px;
  top: calc(50% - 26px / 2);
  border-radius: 31.5px;
}
